<!DOCTYPE html>
<html lang="en" >
 <head>
  <title>Help</title>
  <link rel="stylesheet" href="./css/style.css">
 </head>
 <body>
  <div class="main-content">
   {{>header}}
  </div>
  
  {{>footer}}
  {{!-- <h1>{{title}}</h1> --}}
 </body>
</html>